* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    display: block;
    font-family: "Helvetica";
    color: seashell;
    text-align: center;
    background-color: black;
}

/***** Navigation *****/

header {
    display: flex;
    width: 100%;
    height: 69px;
    font-size: 22px;
    position: fixed;
    background-color: black;
    opacity: 0.9;
    align-items: center;
    border-bottom: 1px solid seashell;
}

.logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.logo img {
    height: 50px;
    padding-left: 10px;
}

nav {
    display: flex;
    padding-right: 20px;
}

nav span {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

/***** Mission Content *****/

.mission {
    width: 1200px;
    height: 700px;
    padding-top: 70px;
    margin: 0 auto;
    background-image: url(../images/img-mission-background.jpg);
}

.misstext {
    margin-top: 17em;
    width: 100%;
    align-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
}

/***** Tea Content *****/

.tea {
    height: 700px;
    width: 1000px;
    padding-top: 70px;
    margin: 0 auto;
}

.teatext {
    width: 100%;
    margin: 0 auto;
}

.container {
    padding-top: 30px;
}

.item {
    padding: 15px;
    width: 300px;
    display: inline-block;
}

.item img {
    height: 200px;
    width: 300px;
}

.item span {
    font-weight: bold;
    font-size: 1.3em;
    padding: 5px;
}

/***** Locations Content *****/

.locations {
    height: 500px;
    width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
    background-image: url(../images/img-locations-background.jpg);
}

.lotext {
    width: 100%;
    margin: 0 auto;
}

.locontainer {
    width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.lobox {
    display: inline-block;
    width: 300px;
    background-color: black;
    opacity: 1;
    margin-top: 15px;
    padding-top: 20px;
}

/***** Contact Content *****/

.contact {
    width: 100%;
    height: 200px;
    padding-top: 20px;
}

.context {
    padding-bottom: 3em;
}

/***** Contact Content *****/

.copyright {
    width: 100%;
    margin-left: 20px;
    padding-bottom: 30px;
}

/***** Text Styles *****/

a {
    color: white;
}

p {
    font-size: 22px; 
    line-height: 3em;
    padding-top: 0.8em;
}

h2 {
    display: block;
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    display: block;
    font-size: 1.3em;
    padding-top: 20px;
}

h5 {
    font-size: 1.1em;
    line-height: 3em;
    padding-top: 1.5em;
}

h6 {
    font-size: 1.2em;
    text-align: left;
}