* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    display: block;
    font-family: "Helvetica";
    color: seashell;
    text-align: center;
    background-color: black;
}

/***** Navigation *****/

header {
    display: flex;
    width: 100%;
    height: 69px;
    font-size: 22px;
    position: fixed;
    background-color: black;
    opacity: 0.9;
    align-items: center;
    border-bottom: 1px solid seashell;
}

.logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.logo img {
    height: 50px;
    padding-left: 10px;
}

nav {
    display: flex;
    padding-right: 20px;
}

nav span {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

/***** Mission Content *****/

.mission {
    width: 1200px;
    height: 700px;
    padding-top: 70px;
    margin: 0 auto;
    background-image: url(../images/img-mission-background.jpg);
}

.misstext {
    margin-top: 17em;
    width: 100%;
    align-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
}

/***** Tea Content *****/

.tea {
    height: 700px;
    width: 1000px;
    padding-top: 70px;
    margin: 0 auto;
}

.teatext {
    width: 100%;
    margin: 0 auto;
}

.container {
    padding-top: 30px;
}

.item {
    padding: 15px;
    width: 300px;
    display: inline-block;
}

.item img {
    height: 200px;
    width: 300px;
    display: block;
}

.item span {
    display: block;
    font-weight: bold;
    font-size: 1.3em;
    padding: 5px;
}

/***** Text Styles *****/

a {
    color: white;
}

h2 {
    display: block;
    font-size: 2em;
}

h4 {
    display: block;
    font-size: 1.3em;
    padding-top: 20px;
}
